@import 'include/_header';
@import 'include/_footer';
@import 'include/_bread-crumbs';
@import 'pages/pages';

body {
  min-height: 100vh;
  font-family: 'Cera Pro'!important;
  padding: 0;
  margin: 0;
  color: #282c34;
}

a {
  text-decoration: none;
}

.container {
  max-width: 1200px;
  padding: 0 15px ;
  margin: 0 auto;
}
.link {
  position: absolute;
  bottom: 0;
  top: 0;
  right: 0;
  left: 0;
  z-index: 225;
}
