.banner {
  height: 100vh;
  background: url("../img/banner.jpg") center no-repeat;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

  p {
    font-size: 58px;
    color: #f1f1f1;
    background-color: darkcyan;
    font-style: italic;
  }

  a {
    padding: 10px 28px;
    background-color: rgba(0, 0, 0, 0.2);
    margin-top: 20px;
    border: 2px solid darkcyan;
    color: #ffffff;
    border-radius: 8px;
    font-size: 20px;

    &:hover {
      color: #f1f1f1;


    }

  }
}

.events {
  color: #ffffff;
  min-height: 100vh;
  padding-top: 100px;
  margin-bottom: 30px;

  .head {
    margin: 40px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;

    .sort {
      display: flex;
      justify-content: center;
      align-items: center;

      select {
        width: 300px;
        display: block;
        line-height: 1.5;
        color: #55595c;
        background-color: #fff;
        border: 1px solid #ccc;
        height: 40px;
        border-radius: 0;
      }

      .button {
        font-size: 16px;
        font-weight: 400;
        text-transform: capitalize;
        height: 44px;
        color: #fff;
        background-color: #007bff;
        padding: 0 50px;
        border: none;
        margin-left: 20px;
        display: flex;
        justify-content: center;
        align-items: center;
        cursor: pointer;

      }
    }
  }

  .grid {
    display: flex;
    flex-wrap: wrap;
    margin-left: -30px;
    width: 100%;

    div {
      padding-left: 30px;
      width: 33.3%;
      margin-bottom: 30px;

      .item {
        height: 380px;
        cursor: pointer;
        transition: all 0.4s ease-out;
        box-shadow: 0px 35px 77px -17px rgba(0, 0, 0, 0.44);
        color: white;
        width: 100%;
        position: relative;
        background-color: #99aeff;

        &:hover {
          box-shadow: 0px 35px 77px -17px rgba(0, 0, 0, 0.64);
          transform: scale(1.05);

          img {
            opacity: 0.2;
          }

          .animate-text {
            transform: translateX(0);
            opacity: 1;
          }

          .dots span {
            opacity: 1;
            transform: translateY(0px);
          }

          .dots span:nth-child(1) {
            transition-delay: 0.05s;
          }
        }

        img {
          height: 100%;
          width: 100%;
          position: absolute;
          top: 0;
          left: 0;
          z-index: 0;
          transition: all 0.4s ease-out;
        }

        .text {
          position: absolute;
          padding: 20px;
          top: 0;
          bottom: 0;
          right: 0;
          left: 0;
          width: 100%;


        }

        h2 {
          font-weight: 100;
          margin: 20px 0 0 0;
          font-style: italic;
          transform: translateX(200px);
        }

        p {
          font-weight: 300;
          margin: 20px 0 0 0;
          line-height: 25px;
          transform: translateX(-200px);
          transition-delay: 0.2s;
        }

        .animate-text {
          opacity: 0;
          transition: all 0.6s ease-in-out;
        }

        .dots {
          position: absolute;
          bottom: 20px;
          right: 30px;
          margin: 0 auto;
          width: 30px;
          height: 30px;
          color: currentColor;
          display: flex;
          flex-direction: column;
          align-items: center;
          justify-content: space-around;

          span {
            width: 5px;
            height: 5px;
            background-color: currentColor;
            border-radius: 50%;
            display: block;
            opacity: 0;
            transition: transform 0.4s ease-out, opacity 0.5s ease;
            transform: translateY(30px);
          }

          span:nth-child(1) {
            transition-delay: 0.05s;
          }
        }
      }
    }

  }

  .content {
    margin-bottom: 60px;
    .img {
      display: flex;
      justify-content: center;
      align-items: center;

      img {
        width: 500px;
        margin: 0 auto;
      }
    }

    .detail {
      color: #1C2331;

      .title {
        text-align: center;
        font-size: 20px;
        font-weight: 400;
        margin: 20px 0;
      }
    }
  }

}