extends base/_base

block title
    title="Title page"
    //title your page 'about-us' example

block content
    main
        .events
            .container
                .head
                    .bread-crumbs
                        a(href='') Events /
                    .sort
                        select.mdb-select.md-form
                           option(value='' disabled='' selected='') Select Categories
                           option(value="1") Art
                           option(value="2") Music
                           option(value="3") Self-development
                           option(value="3") IT
                           option(value="3") STEM
                        .button Seacrh
                .grid
                    div
                        .item
                          a.link(href='events-detail.html')
                          img(src='https://scontent.ffru7-1.fna.fbcdn.net/v/t1.0-9/100696901_3226677207389668_3684801783546249216_n.jpg?_nc_cat=104&_nc_sid=110474&_nc_ohc=zemM87151e0AX903Xh4&_nc_ht=scontent.ffru7-1.fna&oh=40c0eadab97c9b4ca39e55d75afcf1ad&oe=5EF84B44')
                          .text
                            h2.animate-text &ldquo;How to score 8+ in IELTS&rdquo;
                            p.animate-text
                              | Bishkek American Center will be launching a series of webinar sessions &ldquo;How to score 8+ in IELTS&rdquo; with FLEX alumna Akylai Otkulbek Kyzy.
                              | As you know, IELTS is the International English Language Testing System and based on its results people are accepted to the universities worldwide.
                            .dots
                              span
                              span
                              span
                    div
                        .item
                          a.link(href='events-detail.html')
                          img(src='https://scontent.ffru7-1.fna.fbcdn.net/v/t1.0-9/p960x960/101743645_1643121612523914_7866860333569146880_o.jpg?_nc_cat=104&_nc_sid=2d5d41&_nc_ohc=fSsI4EIdKVEAX89HCq4&_nc_ht=scontent.ffru7-1.fna&_nc_tp=6&oh=268be481318b22a370cbddb6e2385f1b&oe=5EF672A6')
                          .text
                            h2.animate-text CodifyLive Talks with JS mentor Abai Baktybek
                            p.animate-text Join us
                            .dots
                              span
                              span
                              span
                    div
                        .item
                          img(src='https://scontent.ffru7-1.fna.fbcdn.net/v/t1.0-9/s960x960/95664812_2756157714660847_8011707847928709120_o.jpg?_nc_cat=110&_nc_sid=2d5d41&_nc_ohc=V1Qc_bQWjd0AX_uGzKG&_nc_ht=scontent.ffru7-1.fna&_nc_tp=7&oh=231eba99904d5c4d3b3167995871e6f9&oe=5EFA0771')
                          .text
                            h2.animate-text High Tech Space
                            p.animate-text
                              | Bacon ipsum dolor amet pork belly tri-tip turducken, pancetta bresaola pork chicken meatloaf. Flank sirloin strip steak prosciutto kevin turducken.
                            .dots
                              span
                              span
                              span
                    div
                        .item
                          img(src='https://images.unsplash.com/photo-1464054313797-e27fb58e90a9?dpr=1&auto=format&crop=entropy&fit=crop&w=1500&h=996&q=80')
                          .text
                            h1 Lorem ipsum.
                            h2.animate-text More lorem ipsum bacon ipsum.
                            p.animate-text
                              | Bacon ipsum dolor amet pork belly tri-tip turducken, pancetta bresaola pork chicken meatloaf. Flank sirloin strip steak prosciutto kevin turducken.
                            .dots
                              span
                              span
                              span
                    div
                        .item
                          img(src='https://images.unsplash.com/photo-1464054313797-e27fb58e90a9?dpr=1&auto=format&crop=entropy&fit=crop&w=1500&h=996&q=80')
                          .text
                            h1 Lorem ipsum.
                            h2.animate-text More lorem ipsum bacon ipsum.
                            p.animate-text
                              | Bacon ipsum dolor amet pork belly tri-tip turducken, pancetta bresaola pork chicken meatloaf. Flank sirloin strip steak prosciutto kevin turducken.
                            .dots
                              span
                              span
                              span
                    div
                        .item
                          img(src='https://images.unsplash.com/photo-1464054313797-e27fb58e90a9?dpr=1&auto=format&crop=entropy&fit=crop&w=1500&h=996&q=80')
                          .text
                            h1 Lorem ipsum.
                            h2.animate-text More lorem ipsum bacon ipsum.
                            p.animate-text
                              | Bacon ipsum dolor amet pork belly tri-tip turducken, pancetta bresaola pork chicken meatloaf. Flank sirloin strip steak prosciutto kevin turducken.
                            .dots
                              span
                              span
                              span
block scripts
    scripts
