extends base/_base

block title
    title="WEvents"

block content
    main
        .banner
            p stay productive, stay home
            a(href="events.html") all online events here

block scripts
