extends base/_base

block title
    title="WEvents"

block content
    main.register
        .container
          .row
            img.logo(src='img/logo1.png' width='200' height='200')
            .col-md-12
              #myTabContent.tab-content
                #home.tab-pane.fade.show.active.text-align.form-new(role='tabpanel' aria-labelledby='home-tab')
                  h3.register-heading Registration form
                  .register-form
                      form(method='post')
                        .form-group
                          input.form-control(type='text' name='user_name' placeholder='Your Email' value='' required='')
                        .form-group
                          input.form-control(type='password' name='password_name' placeholder='Your Password ' value='' required='')
                        .form-group
                          input.form-control(type='number' name='phone_number' placeholder='Your Phone number ' value='' required='')
                        .form-group
                          select#Select.form-control
                            option Art
                            option Public Speaking
                            option IT
                            option Music
                            option Leadership
                            option Language
                            option Online Resources
                            option DIY
                            option Health
                            option Business
                            option Math
                        .form-check.form-check-inline
                          input#inlineCheckbox1.form-check-input(type='checkbox' value='option1')
                          label.form-check-label(for='inlineCheckbox1') User
                        .form-check.form-check-inline
                          input#inlineCheckbox2.form-check-input(type='checkbox' value='option2')
                          label.form-check-label(for='inlineCheckbox2') Organization
                        .form-group
                          input.btnContactSubmit(type='submit' name='LGform1' value='Login')
                          a.btnForgetPwd(href='' value='Login') Forget Password?
block scripts

