<!DOCTYPE html>
html(lang="ru")
    head
        meta(charset="UTF-8")
        meta(name='description', content='Free Web tutorials')
        meta(name='keywords', content='HTML,CSS,XML,JavaScript')
        meta(name='author', content='John Doe')
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        meta(http-equiv="X-UA-Compatible", content="ie=edge")
        meta(name="theme-color", content="#ffffff")
        link(rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.2/css/all.css")
        link(rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700&display=swap")
        link(href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.5.0/css/bootstrap.min.css" rel="stylesheet")
        link(href="https://cdnjs.cloudflare.com/ajax/libs/mdbootstrap/4.19.0/css/mdb.min.css" rel="stylesheet")
        link(rel="stylesheet" href='fonts/stylesheet.css')
        link(rel="stylesheet" href='css/style.css')
        block title
    body
        include ../include/_header
        
        block content

        include ../include/_footer

        script(src="https://code.jquery.com/jquery-1.12.4.js")
        script(src='js/libs.js')
        script(src='js/main.js')
        block scripts