footer {
  padding: 30px 0 60px 0;
  background-color: #1C2331;
  color: #ffffff;

  .social-icons {
    border-bottom: 1px solid #767676;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
    padding: 30px;

    a {
      color: #fff;
      margin: 0 10px;
    }
  }
  .container {
    display: flex;
    justify-content: center;
    align-items: center;
  }
}