header {
  position: fixed;
  z-index: 111;
  top: 0;
  width: 100%;
  left: 0;
  background-color: rgba(0, 0, 0, 0.3);
  .container {
    display: flex;
    justify-content: space-between;
    align-items: center;

    a.logo {
      width: 124px;
      height: 100px;
      background: url("../img/logo.svg") center no-repeat;
      background-size: contain;
    }
    ul.nav {
      display: flex;

      li {
        list-style: none;

        a {
          font-size: 18px;
          padding: 10px 25px;
          font-weight: 400;
          color: #ffffff;

          &.login {
            border-radius: 6px;
            margin-left: 30px;
            padding: 10px 35px;
            background-color: darkcyan;

          }
        }
      }
    }
  }
}