footer
    .social-icons
      a(href='' target='_blank')
        i.fab.fa-facebook-f.mr-3
      a(href='' target='_blank')
        i.fab.fa-twitter.mr-3
      a(href='' target='_blank')
        i.fab.fa-youtube.mr-3
      a(href='' target='_blank')
        i.fab.fa-google-plus-g.mr-3
      a(href='' target='_blank')
        i.fab.fa-github.mr-3


    .container
        p © 2020 Copyright: WEvents
