header
    .container
        a(href='index.html').logo
        ul.nav
            li
                a(href='events.html') Events
            li
                a(href='') Articles
            li
                a(href='') Contact
            li
                a(href='login.html').login Login
